* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

body {
	background: linear-gradient(
		90deg,
		rgba(48, 16, 255, 1) 0%,
		rgba(100, 115, 255, 1) 100%
	);
}

.box-2 {
	padding-top: 48px;
	padding-bottom: 18px;
}
div[class*="box"] {
	height: 33.33%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	line-height: 30px;
	height: 30px;
	width: 100px;
	cursor: pointer;
}

.btn-two {
	color: #fff;
	transition: all 0.5s;
	position: relative;
}
.btn-two span {
	z-index: 2;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.btn-two::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
}
.btn-two::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
}
.btn-two:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255, 255, 255, 0);
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 650px;
	min-height: 600px;
	background: #161a2b;
	text-align: center;
	margin: 128px auto;
	border-radius: 10px;
	padding-bottom: 32px;
}

h1 {
	margin: 32px 0;
	color: #fff;
	font-size: 28px;
}
.todo-container {
	position: relative;
	align-items: center;
	align-content: center;
}
.todo-list {
	padding: 0;
}
.todo-form {
	margin-bottom: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #5d0cff;
	outline: none;
	width: 320px;
	background: transparent;
	color: #fff;
}
.todo-input::placeholder {
	color: #e2e2e2;
}

.todo-button {
	padding: 16px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
	color: #fff;
	text-transform: capitalize;
}

.todo-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px auto;
	color: #fff;
	background: linear-gradient(
		90deg,
		rgba(255, 118, 20, 1) 0%,
		rgba(255, 84, 17, 1) 100%
	);

	padding: 16px;
	border-radius: 5px;
	width: 90%;
}

.todo-row:nth-child(4n + 1) {
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
}

.todo-row:nth-child(4n + 2) {
	background: linear-gradient(
		90deg,
		rgba(255, 12, 241, 1) 0%,
		rgba(250, 0, 135, 1) 100%
	);
}

.todo-row:nth-child(4n + 3) {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
}

.icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

.delete-icon {
	margin-right: 5px;
	color: #fff;
}

.check-icon {
	color: #fff;
}
.filter-todo {
	padding: 5px;
}

.todo-item {
	padding: 0rem 0.5rem;
}

.completed {
	text-decoration: line-through;
	opacity: 0.3;
}

/*CUSTOM SELECTOR */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-image: none;
	border-radius: 4px 4px 4px 4px;
	background: #161a2b;
	/* color: white; */
}

/* Custom Select */
.select {
	margin: 1rem;
	position: relative;
	border: 2px solid #5d0cff;
	border-radius: 4px 4px 4px 4px;
	overflow: hidden;
}
select {
	height: 2rem;
	color: white;
	cursor: pointer;
	width: 8rem;
}
/* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	right: 0.5px;
	top: 3px;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	pointer-events: none;
}

.remove-all {
	display: flex;
	justify-content: center;
	align-items: center;
}
